@import "../../../styles/variables.scss";


.form {
    display: flex;
    flex-direction: column;

}

.label {
    font-size: 14px;
    margin-bottom: 1rem;
    color: $color-subtittle;
}

.input {
    padding: 10px;
    margin-bottom: 1rem;
    border: 1px solid $Border-gris;
    border-radius: 5px;
    font-size: 14px;
    width: 100%;
    outline: none;
    transition: border-color 0.3s;
    color: $color-text;
    
    &:focus {
        border-color: $button-companies-normal; 
    }
}

.textarea {
    min-height: 100px;
    padding: 10px;
    border: 1px solid $Border-gris;
    border-radius: 5px;
    font-size: 14px;
    width: 100%;
    outline: none;
    resize: none;
    transition: border-color 0.3s;
    
    &:focus {
        border-color: $button-companies-normal;
    }
}

.select {
    padding: 10px;
    border: 1px solid $Border-gris;
    border-radius: 5px;
    font-size: 14px;
    width: 100%;
    outline: none;
    transition: border-color 0.3s;
    
    &:focus {
        border-color: $button-companies-normal;
    }
}

.submitButton {
    background-color: $button-companies-normal; 
    width: 100%;
    color: $Blanco;
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
    
    &:hover {
        background-color: $button-companies-hover;
    }
}
