@import "../../../styles/variables.scss";

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.formContainer {
    background-color: $Blanco;
    padding: 1rem;
    border-radius: 10px;
    width: 25rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

.closeIcon {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: $color-tittle;
    border: none;
    background: none;
}

.title {
    font-size: 24px;
    font-weight: bold;
    color: $color-tittle;
}

.form {
    display: flex;
    flex-direction: column;

}

.label {
    font-size: 14px;
    margin-bottom: 1rem;
    color: $color-subtittle;
}

.input {
    padding: 10px;
    margin-bottom: 1rem;
    border: 1px solid $Border-gris;
    border-radius: 5px;
    font-size: 14px;
    width: 100%;
    outline: none;
    transition: border-color 0.3s;
    color: $color-text;
    
    &:focus {
        border-color: $button-companies-normal; 
    }
}

.textarea {
    min-height: 100px;
    padding: 10px;
    border: 1px solid $Border-gris;
    border-radius: 5px;
    font-size: 14px;
    width: 100%;
    outline: none;
    resize: none;
    transition: border-color 0.3s;
    
    &:focus {
        border-color: $button-companies-normal;
    }
}

.select {
    padding: 10px;
    border: 1px solid $Border-gris;
    border-radius: 5px;
    font-size: 14px;
    width: 100%;
    outline: none;
    transition: border-color 0.3s;
    
    &:focus {
        border-color: $button-companies-normal;
    }
}

.submitButton {
    background-color: $button-companies-normal; 
    width: 100%;
    color: $Blanco;
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
    
    &:hover {
        background-color: $button-companies-hover;
    }
}
