@import "../../../styles/variables.scss";

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.formContainer {
    background-color: #fff;
    padding: 20px;
    width: 400px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 1001;
}

.closeIcon {
    position: absolute;
    top: 16px;
    right: 16px;
    cursor: pointer;
    color: #a1a1a1;

    &:hover {
        color: #000;
    }
}

.title {
    font-size: 1.5rem;
    font-weight: bold;
    color: $color-tittle;
    margin-bottom: 20px;
    text-align: center;
}

.label {
    font-size: 0.9rem;
    color: $color-subtittle;
    margin-bottom: 8px;
    display: block;
}

.input,
.textarea,
.select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 0.9rem;
    color: $color-text;

    &:focus {
        outline: none;
        border-color: $button-vacants-normal;
        box-shadow: 0 0 4px $Border-gris;
    }
}

.textarea {
    height: 100px;
    resize: none;
}

.select {
    background-color: #fff;
    appearance: none;
    cursor: pointer;
}

.submitButton {
    width: 100%;
    padding: 12px;
    background-color: $button-vacants-normal;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: $button-vacants-hover;
    }
}
