.container {
    width: 100%;
    height: 100%;
    gap: 0.8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .cardsGrid {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        justify-content: center;
    }


}